.top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 44px;
}

.main-layout {
    margin-top: 12px;
    width: 350px;
    
}
.main-border {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    padding: 10px 0;

    & > header{ 
        display: flex;           /* 이 줄을 추가 */
        justify-content: center; /* 이 줄을 추가 */
        align-items: center;     /* 이 줄을 추가 */

        & > i {
            margin: 36px 0 12px;
        }
    }
}

.border-1 {
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 10px;
}
.items {
    margin-top: 24px;
}
.main-item {

}
.item-1 {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 100%;
    height: 38px;
    background-color: #fafafa;

    & > input {
        box-sizing: border-box;
        outline: none;
        border: none;
        padding: 9px 0 7px 8px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 12px;

        &::-webkit-input-placeholder{
            color : 0000000;
        }

        &:not(:placeholder-shown) {
            padding: 14px 0px 2px 8px;
        }

        &:not(:placeholder-shown) + label {
            top: 9px;
            font-size: 10px;
        }
    }

    & > label {
        position:absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);
        font-size  : 12px;
        color: #737373;
        cursor:text;
        transition: all 0.2s ease-in-out;
    }

}

.item-2 {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 100%;
    height: 38px;
    background-color: #fafafa;

    & > input {
        box-sizing: border-box;
        outline: none;
        border: none;
        padding: 9px 0 7px 8px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 12px;

        &::-webkit-input-placeholder{
            color : 0000000;
        }

        &:not(:placeholder-shown) {
            padding: 14px 0px 2px 8px;
        }

        &:not(:placeholder-shown) + label {
            top: 9px;
            font-size: 10px;
        }
    }

    & > label {
        position:absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);
        font-size  : 12px;
        color: #737373;
        cursor:text;
        transition: all 0.2s ease-in-out;
    }
}
.item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding: 7px 16px;
    width: 100%;

    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0095f6;
    cursor: pointer;

    &:hover {
        background-color: rgb(0, 149, 246);
    }

    &:disable{
        background-color:  #0095f699;
    }
}

.item-4 {
    margin: 10px 40px 18px;
    display: flex;
    align-items: center;

    & > .side-line {
        flex-grow: 1;
        height: 1px;
        background-color: #dbdbdb;;
    }

    & > .or-text {
        margin: 0 10px;
        font-size: 13px;
        font-weight: 600;
        color: #737373;
    }
}
.login-button {
    background-color: rgb(0,149,246);
    border: none;
    border-radius: 8px;
    color: white;
    position: relative;
    text-align: center;
    font-size: 14px;
    padding: 7px, 16px;
    pointer-events: auto;
}

.main-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > sapn {
        margin: 10px 20px;
        font-size: 14px;
    }
}

.download-link-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
 
    & > a > img {
     height: 40px;
    }
 }